@mixin custom-transition($transition, $function, $delay) {
  transition-delay: $delay;
  transition-timing-function: $function;
  transition: $transition;
}

@mixin use-container-width {
  min-width: 100vw;
  @include for-phone-up {
    min-width: $sm-width;
  }
  @include for-tablet-portrait-up {
    min-width: $md-width;
  }
  @include for-desktop-up {
    min-width: $lg-width;
  }
}