.tablepress-table-name {
	font-size: 18px !important;
}

#tablepress-6_filter,
#tablepress-12_filter {
	display: none;
}

.tablepress img {
	width: 100px !important;
	height: 130px !important;
	box-shadow: 0 0 3px 1px gray;
	-webkit-box-shadow: 0 0 3px 1px gray;
	-moz-box-shadow: 0 0 3px 1px gray;
	border: 3px solid #ccc;
}

.dataTables_paginate,
.dataTables_info,
.dataTables_length,
#tablepress-3_filter,
#tablepress-4_filter {
	display: none;
}

#tablepress-5_filter {
	float: left;
	white-space: nowrap;
	margin-left: 35%;
}

#tablepress-5_filter input {
	width: 275px;
}