article p,
article ul:not([role="tablist"]),
article ol,
.notice p {
  font-family: $article-font-family;
  font-weight: $article-font-weight;
  font-size: $article-font-size;
}

@for $i from 1 through 5 {
  article  h#{$i} {
      font-weight: $bold;
      font-size: 2rem - 0.15 * $i;
      margin: 1rem 0rem;
      @if $i > 1 {
          padding-left: 0.75rem * ($i - 2);
      }
      strong, em {
          font-size: inherit;
          font-weight: inherit;
      }
      em {
          font-style: italic;
      }
  }
}
