.footer-notice {
    p {
        font-family: $article-font-family;
        font-size: $article-font-size;
        font-weight: $article-font-weight;
        font-size: $article-font-size;
        @include for-xs {
            padding: 0px 15px !important;
        }
    }
}