.page-title {
    color: $dark-blue;
    margin-top: 0px;
    padding-top: 15px;
    text-align: center;
}

.entry-header img {
    width: 100%;
    @include for-xs {
        margin-top: 0px;
    }
    @include for-sm {
        margin-top: 25px;
    }
}

.entry-title,
.entry-title a,
.entry-title a:visited {
    color: $dark-blue;
    text-align: left;
    @include for-xs {
        font-size: 1.8rem;
    }
    @include for-sm {
        font-size: 2rem;
        margin: 10% 0px 15px 0px;
    }
}

.entry-content.col-xs-12 {
    margin-top: 0px !important;
    @include for-xs {
        font-size: 1rem;
        padding: 0px 25px !important;
    }
    @include for-sm {
        font-size: 1.2rem;
    }
}

.entry-meta {
    padding: 0px !important;
    @include for-xs {
        font-size: 0.8rem;
    }
    @include for-sm {
        font-size: 1rem;
    }
}

.entry-footer {
    text-align: right;
    padding: 0px 50px;
    padding-bottom: 10px;
    span {
        margin: 15px 20px 15px 5px;
    }
}