.search-page-header {
    margin-top: 0px;
}

.search-entry-header {
    @extend .entry-header;
    h2, a, span {
        font-size: $base-font-size + 0.5rem;
        font-weight: $bold;
        color: $blue;
        float: left;
    }

    a, p {
        margin-bottom: 0px;
        margin-top: 10px;
        float:left;
    }
}

.search-entry-title,
.search-entry-title a,
.search-entry-title a:visited {
    color: $dark-blue;
    margin: 15px;
    margin-bottom: 0px;
    text-align: left !important;
    font-size: 24px;
    a:hover {
        cursor: pointer;
    }
}

.search-entry-meta {
    @extend .entry-meta;
    margin-left: 15px; 
}

.search-entry-summary {
    @extends .entry-summary;
    margin-top: 0px;
}
