.entry-header img {
  width: 100%;
  @include for-xs {
      margin-top: 0px;
  }
  @include for-sm {
      margin-top: 25px;
  }
}

.entry-title, .entry-title a, .entry-title a:visited {
  color: $dark-blue;
  text-align: center;

  @include for-xs {
    font-size: 24px;
  }
  @include for-sm {
    font-size: 36px;
    margin: 10% 0px 15px 0px;
  }
}

.entry-meta {
  padding: 0px !important;
    @include for-xs {font-size: 12px}
    @include for-sm {font-size: 14px}
}

.entry-content.col-xs-12 {
  margin-top: 0px !important;

  @include for-xs {
    font-size: 14px;
    padding: 0px 15px !important;
  }
  @include for-sm {
    font-size: 16px;
  }
}

.entry-footer {
  text-align: right;
  padding: 0px 50px;
}

.page-title {
  color: $dark-blue;
  margin-top: 0px;
  padding-top: 15px;
  text-align: center;
}

.posts-navigation {
  text-align: center;

  .nav-previous, .nav-next {
    background-color: $dark-blue;
    border-radius: 0px;
    a {
      @include custom-transition(color 0.3s, ease, 0s);
      color: white;
      font-weight: bold;
      &:hover, &:focus {
        color: $light-gold;
      }
    }
  }
}
