#colophon {
  background-color: $footer-bg-color;
  border-top: solid 5px $light-gold;
  color: $footer-txt-color;
  width: 100%;

  .site-info {
    background-color: $dark-blue;
    padding: 5px;
  }

  h2 {
    text-align: center;
    color: $light-gold;
  }

  p {
    margin: 10px;
    font-size: 12px;
    white-space: nowrap;
  }

  a {
    color: $light-gold;
  }
}
