/**
 * CSS For Spacing Site Sections
 */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.site-content {
  flex: 1 0 auto;
}

.site-info .row {
  width: 100%; // Bugfix for weird bug;
}

.site-main {
  background-color: #eeeeee;
  padding-bottom: 25px;
  min-height: 75vh;
  @include for-sm {
    min-height: calc(100vh - 373px);
  }
  @include for-md {
    min-height: calc(100vh - 305px);
  }
  @include for-lg {
    min-height: calc(100vh - 322px);
  }

  .container {
    background-color: white;
    border-radius: 2px;
    box-shadow: inset 0px 0px 1px 2px transparentize($dark-blue, 0.75);
    margin-bottom: 15px;

    h2 {
      text-align: center;
    }

    .row div {
      padding: 10px;
    }
  }

  .item img {
    width: 100%;
    @include container-width;
  }
}
