/**
 * CSS For Spacing Site Sections
 */
.site {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

.site-content {
  flex: 1 0 auto;
}

.site-info .row {
  width: 100%; // Bugfix for weird bug;
}
