@import 'base/reset';
@import 'base/variables';
@import 'base/breakpoints';
@import 'base/mixins';

@import 'accessibility';
@import 'footer';
@import 'front-page';
@import 'header';
@import 'news';
@import 'page';
@import 'reports';
@import 'search';
@import 'site';

.section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.section-text {
  font-size: 14px;
  font-weight: lighter;
}
