//Libraries
//@import 'font-awesome';

// Base: Modules and variables
@import 'base/variables';
@import 'base/reset';
@import 'base/breakpoints';
@import 'base/mixins';
@import 'base/accessibility';

// Layout
@import 'layout/header';
@import 'layout/main';
@import 'layout/article';
@import 'layout/footer';

//Modules
@import 'modules/buttons';
@import 'modules/flex';
@import 'modules/footer-items';
@import 'modules/forms';
@import 'modules/header-dropdowns';
@import 'modules/inputs';
@import 'modules/main-container';
@import 'modules/mobile-navbar';
@import 'modules/modals';
@import 'modules/news-grid';
//@import 'modules/news-carousel';
@import 'modules/tab-panels';
@import 'modules/tables';
@import 'modules/misc';

@import 'partials/certification';
@import 'partials/page';
@import 'partials/school'; 
@import 'partials/search';
@import 'partials/site';

.section-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-text {
    font-size: 14px;
    font-weight: lighter;
}
