$phone-screen: 768px;
$tblt-port: 992px;
$tblt-land: 1024px;
$desktop: 1200px;
$big-desktop: 1800px;

$gold: #b9972f;
$light-gold: #dfc253;

$nav-link-color: white;
$nav-link-hover-color: $light-gold;

$blue: #1a4167;
