ul.nav-menu,
ul.dropdown-menu {
    background-color: $header-bg-color;
    li>a {
        @include custom-transition(color 0.3s, ease, 0s);
        color: $nav-link-color;
        @include for-xs {
            font-size: $base-font-size;
        }
        
        &:hover,
        &:focus,
        {
            color: $nav-link-hover-color;
            background-color: $header-bg-color;
        }
    }
    .open>a,
    .nav .open>a {
        color: $nav-link-color;
        background-color: $header-bg-color;
        &,
        &:hover,
        &:focus {
            color: $nav-link-hover-color;
            background-color: $header-bg-color;
        }
    }
}

ul.nav-menu {
    display: flex;
    @include for-xs {
        flex-direction: column;
    }
    @include for-sm {
        flex-direction: row;
    }
    justify-content: space-around;
    white-space: nowrap;
    width: 100%;

    @for $i from 1 through 6 {
        @include for-sm {
            & > li:nth-child(#{$i}) > ul.dropdown-menu {
                left: 50% - 25% * $i;
            }
        }

        @include for-md {
            & > li:nth-child(#{$i}) > ul.dropdown-menu {
                left: 30% - 15% * $i;
            }
        }
    }
}
