.site-main .container {
    background-color: white;
    border-radius: 2px;
    box-shadow: inset 0px 0px 1px 2px transparentize($dark-blue, 0.75);
    margin-bottom: 15px;

    @for $i from 1 through 6 {
        h#{$i} {
            font-size: $base-font-size + 16px / $i ;
            font-weight: $bold;
            font-family: $base-font-family;
        }
    }

    .row div {
        padding: 10px;
    }
}
